$bgColor: #000e4f;
$primaryColor: #0A1750;

$pink: #D44443;
$gray: #2D3138;

*{
	font-family: "Raleway",sans-serif;
}

@-webkit-keyframes back_animation {
    0% {
        -webkit-transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.8)
    }

    100% {
        -webkit-transform: scale(1)
    }
}

@keyframes back_animation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes slideFadeDown {
    0% {
    	opacity: 0;
        transform: translateY(-100%);
    }
    100% {
    	opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0px);
    }
}

.btn{
	padding: 10px 14px;
	font-size: 19px;
	&.btn-border{
		background: transparent;
		color: white;
		border: solid 3px white;
		border-radius: 26px;
		font-weight: 600;
		transition: all 0.3s cubic-bezier(0.19,1,0.22,1);
		&:hover{
			background: $pink;
			border-color: $pink;
		}
	}
}

#header{
	position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	z-index: 10;
	background: transparent;
	will-change: transform;
	&.active{
		background-color: rgba(10, 23, 93, 0.92);
		position: fixed;
		animation: slideDown 1s 0s cubic-bezier(0.19,1,0.22,1);
	}
	#logo{
		float: left;
		margin: 0px;
		a{
			height: 60px;
			width: 176px;
			text-indent: -9999px;
			display: block;
			background: url(../img/logo.svg) no-repeat center;
		}
	}
	nav{
		ul{
			margin-bottom: 0px;
		}
		float: right;
		li{
			display: inline-block;
			a{
				color: white;
				display: block;
				padding: 20px;
				font-weight: bold;
				position: relative;
				text-decoration: none;
				&::after{
					content: "";
				    display: block;
				    background: #D44443;
				    width: auto;
				    height: 3px;
				    position: absolute;
				    left: 20px;
				    bottom: 9px;
				    right: 20px;
				    will-change: transform;
					transform: scaleX(0);
				    transition: all 0.3s cubic-bezier(0.19,1,0.22,1);
				}
				&:hover::after{
					transform: scaleX(1);
				}
			}
			&.active a::after{
				transform: scaleX(1);
			}
		}
	}
	#btnHamburgerMenu{
		display: none;
		height: 60px;
	    width: 68px;
	    float: right;
	    position: relative;
		span{
			display: block;
		    height: 3px;
		    background: white;
		    position: absolute;
			left: 20px;
			right: 20px;
			&:first-child{
				top: 20px;
			}
			&:nth-child(2){
				top: 50%;
				transform: translateY(-50%);
			}
			&:last-child{
				bottom: 20px;
			}
		}
	}
}

#contato{
	background-color: $pink;
	*{
		color: white;
	}
	h3::after{
		background-color: white;
	}
	p{
		font-size: 20px;
	    max-width: 600px;
	    margin: auto;
	    display: block;
	}
    background-image: url(../img/bg_laravel.png);
    background-attachment: fixed;
    background-size: cover;
}

body > section{
	> .container h2,
	.section-heading,
	.container > h3,
	> h3{
		font-size: 30px;
		font-weight: bold;
		display: block;
		text-align: center;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		&::after{
			content: "";
			display: block;
			height: 3px;
			width: 100px;
			max-width: 100%;
			margin: auto;
			background: #CCC;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0px;
		}
	}
}
#sobre{
	p{
		font-size: 20px;
		max-width: 600px;
		margin: auto;
		display: block;
	}
}
#banner{
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;

	// .wrapper > figure > img{
	// 	will-change: transform, opacity;
	// 	animation: 0.5s cubic-bezier(0.19,1,0.22,1) 0s slideFadeDown;
	// }
	// .wrapper > figure > figcaption > span{
	// 	will-change: transform, opacity;
	// 	animation: 0.5s cubic-bezier(0.19,1,0.22,1) 0.3s slideFadeDown;
	// }
	// .wrapper > figure > figcaption > time{
	// 	will-change: transform, opacity;
	// 	animation: 0.5s cubic-bezier(0.19,1,0.22,1) 0.5s slideFadeDown;
	// }
	// .wrapper > figure > h2{
	// 	will-change: transform, opacity;
	// 	animation: 0.5s cubic-bezier(0.19,1,0.22,1) 0.6s slideFadeDown;
	// }
	// .wrapper > figure > small{
	// 	will-change: transform, opacity;
	// 	animation: 0.5s cubic-bezier(0.19,1,0.22,1) 0.7s slideFadeDown;
	// }

	.container{
		padding-top: 80px;
		height: 100vh;
		height: calc(100vh - 100px);
		min-height: 730px;
		position: relative;
		z-index: 1;
	}
	b{
		color: $pink;
	}
	figcaption{
		font-size: 24px;
	}
	small{
		font-size: 27px;
	    line-height: 30px;
	    font-weight: bold;
		color: $pink;
	}
	h2{
		font-size: 81px;
		margin: 0px;
	}
	*{
		text-align: center;
	}
	
	.scroll-down{
		position: absolute;
		left: 0px;
		top: 100%;
		transform: translateY(-100%);
		width: 100%;
		.arrow{
			position: relative;
			display: block;
			margin: auto;
			width: 0px;
			height: 0px;
			border: solid 35px white;
			border-top-color: transparent;
			border-bottom: 0px;
		}
		&::after,
		&::before{
			background: white;
			height: 43px;
			position: absolute;
			top: 0px;
			content: "";
			display: block;
			width: calc((100vw - 86px)/2);
		}
		&::after{
			left: 0px;
		}
		&::before{
			right: 0px;
		}

	}
	
	.wrapper{
		width: 620px;
		max-width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%) translateY(-13px);
		color: white;
		z-index: 10;
		figure{
			img{
				width: 49%;
			}
			margin-bottom: 30px;
		}
	}

	&::before{
		z-index: 0;
		background: rgba($bgColor,0.85) url(../img/bg_laravel.png);
		background-size: cover;
		content: "";
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	&::after{
		content: "";
		z-index: -1;
		background: url(../img/bg-banner.jpg) no-repeat center;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-size: cover;
		will-change: transform;
		-webkit-animation: 60s ease 0s normal none infinite back_animation;
    	animation: 60s ease 0s normal none infinite back_animation;
	}
	.social-media{
		> a{
			padding: 11px;
			> *{
				display: inline-block;
			}
			position: relative;

			&.icon-button{
				color: white;
				padding-left: 28px;
			    display: block;
			    color: white;
			    width: 340px;
			    margin: auto;
			    margin-top: 20px;
				&.facebook::before{
					background-image: url(../img/icon_facebook.svg);
				}
				&::before{
					position: absolute;
					content: "";
					display: block;
					left: 0px;
					top: 0px;
					bottom: 0px;
					background-repeat: no-repeat;
					background-size: 55%;
					background-position: center;
					width: 50px;
    				height: 40px;
					color: white;
				}
			}
		}
	}
}

#palestrantes{
	.grid{
		background: $bgColor;
		display: flex;
		flex-flow: row wrap;
		padding-bottom: 0px;
		justify-content: center;
		.palestrante{
			cursor: pointer;
			position: relative;
			flex: 0 1 25%;
			height: 340px;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				object-fit: cover;
				will-change: transform;
				transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
			}
			figcaption{
				will-change: height, background;
				height: 100px;
				padding: 15px 20px;
				*{
					color: white;
					text-align: center;
					display: block;
				}
				h4{
					font-size: 32px;
					margin-bottom: 2px;
				}
				.social-media{
					display: flex;
				    position: absolute;
				    left: 50%;
				    bottom: 20px;
				    transform: translate(-50%,100%);
				    opacity: 0;
				    will-change: transform, opacity;
					transition: all 1s cubic-bezier(0.19,1,0.22,1);
					.icon{
						display: block;
						text-indent: -999999px;
						background-repeat: no-repeat;
						background-size: 55%;
	    				background-position: center;
						&.twitter{
							background-image: url(../img/icon_twitter.svg);
						}
						&.facebook{
							background-image: url(../img/icon_facebook.svg);
						}
					}
					a{
						margin-right: 15px;
						background: transparent;
						color: white;
						border: solid 3px white;
						border-radius: 30px;
						font-weight: 600;
						transition: all 0.3s cubic-bezier(0.19,1,0.22,1);
						width: 60px;
						height: 60px;
						&:hover{
							background-color: $pink;
							border-color: $pink;
						}
						&:last-child{
							margin-right: 0px;
						}
					}
				}
				span{
					font-weight: bold;
					margin-bottom: 20px;
				}
				position: absolute;
				bottom: 0px;
				left: 0px;
				right: 0px;
				background : -moz-linear-gradient(50% 98.06% 90deg,rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
				background : -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
				background : -webkit-gradient(linear,50% 98.06% ,50% 0.91% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(1,rgba(0, 0, 0, 0) ));
				background : -o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
				background : -ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
				background : linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
				transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
			}
			p{
				max-width: 480px;
			    margin: auto;
			    display: block;
			    font-size: 38px;
			    font-style: italic;
			    line-height: 42px;
			}
			&:hover {
				figcaption{
					height: 100%;
					background-color: rgba(212, 68, 67,0.9);
				}
				.social-media{
					opacity: 1;
					transform: translate(-50%,0px);
				}
				img{
					transform: scale(1.2);
				}
			}
		}
	}
	padding-bottom: 0px;
}

#programacao{
	padding-top: 60px;
    padding-bottom: 60px;
	h3{
		text-align: center;
		font-size: 43px;
		width: 420px;
		b{
			color: $pink;
		}
		display: block;
		margin: auto;
		margin-bottom: 30px;
	}
	background: $bgColor;
	*{
		color: white;
	}
	table{
		max-width: 800px;
    	margin: auto;
		width: 100%;
		table-collapse: collapse;
		tr{
			&.credenciamento td:first-child::after{
				background-image: url(../img/icon_credenciamento.svg);
			}
			&.coffee td:first-child::after{
				background-image: url(../img/icon_coffee.svg);
			}
			&.palestra td:first-child::after{
				background-image: url(../img/icon_palestra.svg);
			}
			td{
				&:first-child{
					text-align: right;
					position: relative;
					padding-right: 40px;
					border-right: solid 2px $pink;
					&::after{
						content: "";
						display: block;
						height: 41px;
						width: 41px;
						background-color: $pink;
						border-radius: 50%;
						position: absolute;
						right: 0px;
						top: 50%;
						transform: translate(50%,-50%);
						background-image: url(../img/icon_palestra.svg);
					}
				}
				&:nth-child(2){
					padding-left: 40px;
				}
				padding: 10px 15px;
				border: solid 2px $pink;
				border-left: none;
				border-right: none;
				*{
					display: block;
				}
				small{
					font-weight: bold;
					color: $pink;
					font-size: 17px;
				}
				span,
				time{
					font-size: 23px;
					font-weight: bold;
				}
			}
		}
	}

}

#parcerias{
	padding-top: 0px;
	h2{
		display: block;
		background: $pink;
		width: 100%;
		padding: 20px;
		text-align: center;
		margin: auto;
		color: white;
	}
	h3{
		text-align: center;
		display: block;
		// background: darken($pink,10%);
	}
	.grid{
		>img,
		>a{
			flex: 0;
		}
		> img{
			height: 55px;
		}
		.height-100{
			height: 100px;
		}
	}
	>section{
		border-bottom: solid 1px rgba(0,0,0,0.2);
		padding-bottom: 10px;
		&:last-child{
			border-bottom: none;
		}
	}

}

.grid{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	> a,
	> img{
		object-fit: contain;
		margin: 20px;
	}
	> *{
		flex: 1;
	}
	&.grid-lg-2{
		> *{
			flex: 1 1 50%;
		}
	}

}


body > section{
	padding-top: 30px;
	padding-bottom: 30px;
}

#onde{
	display:flex;
	flex: 1;
	padding-top: 0px;
	.text{
		flex: 0 1 430px;
		padding: 30px;
		background: $gray;
		*{
			color: white;
		}
	}
	iframe{
		width: 100%;
		height: 300px;
	}
}

#ingressos{
	iframe{
		width: 100%;
		border: none;
		display: block;
		width:100%;
		min-height: auto;
		height: 630px;
	}
	padding-left: 20px;
	padding-right: 20px;
}
#dicas{
	background: #EEE;
	h3{
		font-weight: bold;
		color: $pink;
		font-weight: bold;
		margin-top: 0px;
	}
	p{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.grid{
		> div{
			flex: 0 1 calc((100% - 20px) / 2);
			background: #f5f6f7;
			padding: 20px;
			margin-bottom: 20px;
			margin-right: 20px;
			box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
			&:nth-child(2n){
				margin-right: 0px;
			}
		}
	}
}

@media(max-width:2000px){
	#palestrantes .grid .palestrante{
	  	flex: 0 1 33.333333%;
	}
}
@media(max-width:1461px){
	#palestrantes .grid .palestrante{
		p{
			font-size: 32px;
			line-height: 37px;
		}
	}
}
@media(max-width:1100px){
	#palestrantes .grid .palestrante{
		flex: 0 1 50%;
		height: 370px;
	}
	.grid{
		&.grid-sm-2{
			> *{
				flex: 0 1 50%;
			}
		}
	}
	#header {
		background-color: rgba(10, 23, 93, 0.92);
		nav{
			display: none;
			margin: 0px;
			padding: 0px;
			overflow: auto;
			max-height: 100vh;
			clear: both;
			width: 100%;
			li{
				width: 100%;
				display: block;
				float: none;
				border-top: solid 1px rgba(0, 0, 0, 0.3);

			}
			&.opened{
				display: block;
			}
			ul{
				padding: 0px;
				margin: 0px;
			}
			a{
				font-size: 17px;
    			text-transform: uppercase;
    			text-align: center;
			}
		}
		#btnHamburgerMenu{
			display: block;
		}
	}
	#onde{
		display: block;
	}
	#ingressos{
		iframe{
			height: 800px;
		}
	}
}

@media(max-width:650px){
	#banner h2{
		font-size: 52px;
	}
	#ingressos{
		iframe{
			height: 810px;
		}
	}
	#palestrantes .grid .palestrante{
		flex: 0 1 100%;
		overflow: none;
		height: auto;
		border-bottom: solid 1px rgba(0,0,0,.2);
		cursor: auto;
		&:hover{
			img{
				transform: none;
			}
			figcaption{
				background: transparent;
			}
			.social-media{
				transform: none;
			}
		}
		img{
			position: static;
			height: 170px;
    		width: 170px;
    		border-radius: 50%;
    		margin: auto;
		}
		figcaption{
			position: static;
			height: auto;
			background: transparent;
			h4{
				font-size: 25px;
				font-weight: bold;
			}
			span{
				color: $pink;
				font-size: 16px;
			}
			*{
				color: $gray;
			}
			p{
				font-size: 28px;
			    font-style: italic;
			    line-height: 33px;
			    margin-bottom: 20px;
			}
			.social-media{
				position: static;
			    left: auto;
			    bottom: auto;
			    transform: none;
			    opacity: 1;
			    justify-content: center;
			    a:hover{
			    	background-color: transparent;
			    }
			    .icon{
			    	border-color: #7F7F7F;
			    	&.twitter{
						background-image: url(../img/icon_twitter_gray.svg);
					}
					&.facebook{
						background-image: url(../img/icon_facebook_gray.svg);
					}
			    }
			}
		}
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.grid{
		&.grid-sm-2 > *,
		> *{
			flex: 1 1 100%;
		}
	}
	#dicas{
		.grid{
			> div{
				margin: 0px;
				margin-bottom: 20px;
				flex: 0 1 100%;
			}
		}
	}

}